@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}

body {
	background: #F7F7F7;
}

.form {
	position: absolute;
	top: 0;
	left: 0;
	height: 1920px;
	width: 1080px;
	font-size: 35px;
	-webkit-box-shadow: 0px 0px 10px #A6A6A6;
	background: #fff;
}

.border-btn {
	border-bottom: 5px solid #33CCFF;
}

#landing, #registered {
	float: left;
	text-align: center;
	width: 540px;
	padding: 25px 0;
	color: #000000;
	background-color: yellowgreen;
}

#landing-content {
	clear: both;
}

.inp {
	height: 120px;
	margin: 0 auto;
	margin-bottom: 30px;
	width: 900px;
}

.inp>input {
	text-align: center;
	height: 90px;
	width: 900px;
	margin: 0 auto;
	transition: all 0.3s ease-in-out;
	font-size: 35px;
	border-radius: 20px;
	border: 3px solid;
}

.login {
	border: 2px solid #33CCFF;
	color: #000;
	background-color: #33ccff;
	height: 70px;
	width: 400px;
	text-align: center;
	font-size: 35px;
	margin-left: 340px;
	line-height: 70px;
	margin-top: 30px;
	transition: all 0.3s ease-in-out;
	border-radius: 35px;
}

.login:hover {
	background: #A6A6A6;
	color: #fff;
}

#bottom {
	margin-top: 30px;
	font-size: 25px;
	color: #a6a6a6;
}

#registeredtxt {
	float: left;
	margin-left: 400px;
}

#forgotpassword {
	float: right;
	margin-right: 400px;
}

#photo {
	border-radius: 80px;
	border: 1px solid #ccc;
	height: 120px;
	width: 120px;
	margin: 0 auto;
	overflow: hidden;
	clear: both;
	margin-top: 30px;
	margin-bottom: 30px;
}

#photo>img:hover {
	-webkit-transform: rotateZ(360deg);
	-moz-transform: rotateZ(360deg);
	-o-transform: rotateZ(360deg);
	-ms-transform: rotateZ(360deg);
	transform: rotateZ(360deg);
}

#photo>img {
	height: 120px;
	width: 120px;
	-webkit-background-size: 220px 220px;
	border-radius: 60px;
	-webkit-transition: -webkit-transform 1s linear;
	-moz-transition: -moz-transform 1s linear;
	-o-transition: -o-transform 1s linear;
	-ms-transition: -ms-transform 1s linear;
}


#registered-content {
	margin-top: 40px;
	display: none;
}

.fix {
	clear: both;
}
.form{
	display: none;
}